---
import Image from "astro/components/Image.astro";
import Layout from "../components/Layout.astro";
import HeroImg from "../images/hero.webp";
import Social from "../components/Social.astro";
import { getCollection } from "astro:content";
import { format } from "date-fns";

const allPosts = await getCollection("posts");
const sortedPosts = allPosts.sort((a, b) => {
  return b.data.postedDate.getTime() - a.data.postedDate.getTime();
});

const mainCopy = `
I'm Jody, a senior software engineer based in the greater New Orleans
        area. I'm currently working at Celebration Travel Group as a full-stack
        engineer. I'm also a husband, father, and a lover of all things tech.
`;
---

<Layout metaDescription={mainCopy} title="Home | JodyLeCompte.com">
  <div class="hero">
    <div>
      <h1>
        Projects & Writing By
        <span>Jody LeCompte</span>
      </h1>
      <Image src={HeroImg} alt="Jody LeCompte" height="500" width="500" />
    </div>
    <div class="copy">
      <p>
        I'm Jody, a senior software engineer based in the greater New Orleans
        area. I'm currently working at Celebration Travel Group as a full-stack
        engineer. I'm also a husband, father, and a lover of all things tech.
      </p>
      <Social />
    </div>
  </div>
  <div>
    <h2>Recent Posts</h2>
    <ul>
      {
        sortedPosts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
            <time>Posted {format(post.data.postedDate, "MM/dd/yyyy")}</time>
            <p>{post.data.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>

<style>
  h1 {
    @apply text-5xl font-bold text-center mb-8 leading-tight;
  }
  span {
    background: -webkit-linear-gradient(left, #faa23d, #f70965);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero {
    @apply flex gap-20 items-center mt-24;
  }

  .hero > div {
    @apply basis-full;
  }

  .copy {
    @apply prose prose-lg dark:prose-invert;
  }
  h2 {
    @apply mt-12 text-4xl font-bold mb-8;
  }

  ul {
  }

  li {
    @apply my-4 flex flex-col;
  }

  li a {
    @apply text-2xl font-bold;
  }

  li p {
    @apply prose prose-lg dark:prose-invert;
  }

  time {
    @apply text-sm mt-1 mb-2;
  }
</style>
