---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="bg-white pt-20 pb-40">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto">
            <h2
              class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl"
            >
              Articles
            </h2>
            <p class="mt-5 text-lg/8 text-gray-600">
              Longer form thoughts about software engineering written by Jody
              LeCompte.
            </p>

            <div class="pace-y-16 border-t border-gray-200 pt-10 mt-5">
              {
                posts.map((post) => (
                  <article class="flex max-w-xl flex-col items-start justify-between pb-10">
                    <a
                      href={`/blog/${post.id}/`}
                      class="group relative block w-full text-left"
                    >
                      <h2 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-[#5386e4]">
                        {post.data.title}
                      </h2>
                      <small>
                        <FormattedDate date={post.data.pubDate} />
                      </small>
                      <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600 group-hover:text-[colorhere]">
                        {post.data.description}
                      </p>
                      <span class="absolute inset-0" aria-hidden="true" />
                    </a>
                  </article>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
