---
const today = new Date();

const socialLinks = [
  {
    name: "LinkedIn",
    url: "http://linkedin.com/in/jodylecompte",
    icon: "/social-icons/linkedin.svg",
  },
  {
    name: "GitHub",
    url: "https://github.com/jodylecompte",
    icon: "/social-icons/github.svg",
  },
];
---

<footer>
  &copy; {today.getFullYear()} Jody LeCompte. All rights reserved.
  <nav class="social-links">
    {
      socialLinks.map((link) => (
        <a
          href={link.url}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={`Connect with me on ${link.name}`}
        >
          <img
            src={link.icon}
            alt=""
            width="50"
            height="50"
            aria-hidden="true"
          />
          <span class="sr-only">Connect with me on {link.name}</span>
        </a>
      ))
    }
  </nav>
</footer>

<style>
  footer {
    background-color: #e8f9fd;
    padding: 2rem;
    text-align: center;
  }

  .social-links {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
</style>
